{% extends 'layout.html' %}


{% block body %}
<h1>Dashboard - <small class="text-muted">Welcome {{ session.user }}</small></h1>
<a class="btn btn-success" href="/add_article">Add Article</a>
<a class="btn btn-success" href="/add_category">Add Category</a>
<hr>
<div class="card bg-light border-0 rounded mt-5 p-5" style="width: 100%;">
    <div class="card-body">
      <h2 class="card-title">{{ user.username }}'s Account Page</h2>
    </div>
  </div>

  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user_image }}" alt="User Image">
      <div class="media-body">
        <h3 class="account-heading">{{ user.username }}</h3>
        <p class="text-secondary">{{ user.email }} </p>
      </div>
    </div>
    <!-- FORM HERE -->
    <div class="card bg-light border-0 rounded mt-5 p-5">
      <div class="card-body">
        <h1 class="card-title">Update Profile</h1>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="{{ url_for('account') }}" class="card-text">
            <div class="form-group">
                {{ render_field(form.name, class_ = 'form-control') }}
            </div>
            <div class="form-group">
              {{ render_field(form.email, class_ = 'form-control') }}
          </div>
          <div class="form-group">
              {{ render_field(form.username, class_ = 'form-control') }}
          </div>
          
          <p><input type="submit" value="Update" class="btn btn-primary"></p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}